<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>采购登记 </title>
</head>
<body>
<style>
	#purRemarks{
		height:5em;
	}
	select{
		height:2.4em;
		border: solid 1px #ddd;
		width:100%;
	}
	.fs-wrap{
		width:100%;
		position:relative;
		top:8px;
	}
	.fs-label{
		height:1.4em;
		line-height:1.4em;
	}
</style>
<article class="page-container">
	<form class="form form-horizontal" id="form-purchase-updateOrder" action="#" th:action="@{/purchase/insertOrder}">
	<input type="hidden" name="save" value="true"/>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>采购方式：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<select id="purchaseMethod" name="purchaseMethod"  class="text-input" >
				<option value="">待选择</option>
				<option th:each="dicMethod:${dicMethods}" th:text="${dicMethod.name}" th:value="${dicMethod.code}">空</option> 
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>采购时间：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" onfocus="WdatePicker({el:$dp.$('purchaseTime'),dateFmt:'yyyy-MM-dd'})" 
				autocomplete="off" value="" placeholder="采购时间" id="purchaseTimeString" 
				name="purchaseTimeString" class="input-text Wdate" readonly="readonly"/>
		</div>
	</div>
 	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>经&nbsp&nbsp办&nbsp&nbsp人：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" readonly="readonly" th:value="${user.username}" class="input-text" autocomplete="off"  placeholder="经办人" id="operator" name="operator"/>
		</div>
	</div> 
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户名称：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off"  placeholder="客户名称" id="customerName" name="customerName"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>采购物流单号：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" autocomplete="off"  placeholder="物流单号" id="orderNum" name="orderNum"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>品&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp牌：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<select id="brand" name="brand"  class="text-input"  >
				<option value="">待选择</option>
				<option th:each="productBrand:${productBrands}" th:text="${productBrand.name}" th:value="${productBrand.code}">空</option> 
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>型&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<select id="model" name="model"  class="text-input"  >
				<option value="">待选择</option>
				<!-- <option th:each="productModel:${productModels}" th:text="${productModel.name}" th:value="${productModel.code}">空</option>
			-->
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>规&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp格：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<select id="productId" name="productId"  class="text-input"  >
				<option value="">待选择</option>
				<!-- <option th:each="productModel:${productModels}" th:text="${productModel.name}" th:value="${productModel.code}">空</option>
			-->
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>颜&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp色：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<select id="color" name="color"  class="text-input"  >
				<option value="">待选择</option>
				<option th:each="productColor:${productColors}" th:text="${productColor.name}" th:value="${productColor.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>序&nbsp&nbsp列&nbsp&nbsp号：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" placeholder="序列号" name="serialNum" id="serialNum"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>保&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp修：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<select id="guarantee" name="guarantee"  class="text-input"  >
				<option value="">待选择</option>
				<option th:each="guarantee:${guarantees}" th:text="${guarantee.name}" th:value="${guarantee.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>外&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp观：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<select id="apperance" name="apperance"  class="text-input demo" multiple="multiple">
				<option th:each="productApperance:${productApperances}" th:text="${productApperance.name}" 
					th:value="${productApperance.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>随机附件：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<!-- <select id="randomAttachment" name="randomAttachment"  class="text-input" >
				<option value="">待选择</option>
				<option th:each="productAttachment:${productAttachments}" th:text="${productAttachment.name}" th:value="${productAttachment.code}">空</option>
			</select> -->
			<select id="randomAttachment" name="randomAttachment" class="demo text-input" multiple="multiple">
		 		<option th:each="productAttachment:${productAttachments}" th:text="${productAttachment.name}" 
		 			th:value="${productAttachment.code}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>采购价格：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" placeholder="采购价格" name="purchasePrice" id="purchasePrice"/>
		</div>
	</div>
	<div class="row cl" style="display:none">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>订单状态：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<select id="orderState" name="orderState"  class="text-input" >
				<option value="">待选择</option>
				<option th:each="productState:${productStates}" th:text="${productState.name}" 
					th:value="${productState.code}" th:selected="${productState.code eq 1}">空</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>最终收购价格：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" placeholder="最终收购价格" 
				name="finalPurchase" id="finalPurchase" />
		</div>
	</div>
<!-- 	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>最终质检价格：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<input type="text" class="input-text" placeholder="最终质检价格" 
				name="qualityPrice" id="qualityPrice"/>
		</div>
	</div> -->
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注：</label>
		<div class="formControls col-xs-5 col-sm-6">
			<textarea  type="text" class="input-text" placeholder="备注"  name="purRemarks" id="purRemarks"></textarea>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-2 col-sm-2 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" id="subbtn" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
		</div> 
		<div class="col-xs-2 col-sm-2 col-xs-offset-0 col-sm-offset-0">
			<input class="btn radius" id="reset" type="button" value="&nbsp;&nbsp;重置&nbsp;&nbsp;"/>
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<div th:replace="_footer :: footerjs"></div>
 <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"  src="lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"  src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" th:src="@{/lib/select/fSelect.js}" src="lib/select/fSelect.js"></script>
<script type="text/javascript">

$(function() {
    $('.demo').fSelect();
    $('.fs-label').html('待选择');
});

$("#finalPurchase").blur(function(){
	 if(parseFloat($("#finalPurchase").val())>parseFloat($('#purchasePrice').val())){
		 layer.msg('最终价格必须小于等于收购价格',{icon:2,time:1000});
		 $("#finalPurchase").val("");
	 }
});
//填写物流单号时更改默认订单状态
$("#orderNum").blur(function(){
	//如果没填单号状态为待确认
	if($.trim($("#orderNum").val())==""){
		$('#orderState').val(9);
	}else{
		//填了单号变成1
		$('#orderState').val(1);
	}
});
var result;
//选择品牌事件
$("#brand").change(function() {
	//先清空型号
	$("#model").empty();
	$("#productId").empty();
	$('#model').append("<option value=''>待选择</option>");
	$('#productId').append("<option value=''>待选择</option>");
	if($("#brand").val()==""){
		//啥都不做
	}else{
		chooseDic("brand",$("#brand").val(),0);
		for (i in result){
			$('#model').append("<option value='"+result[i].model+"'>"+result[i].modelname+"</option>");
		}
	}
});
//选择型号事件
$("#model").change(function() {
	//先清空规格
	$("#productId").empty();
	$('#productId').append("<option value=''>待选择</option>");
	if($("#model").val()==""){
		//啥都不做
	}else{
		chooseDic("model",$("#brand").val(),$("#model").val());
		for (i in result){
			$('#productId').append("<option value='"+result[i].id+"'>"+result[i].standardname+"</option>");
		}
	}
});
//选择下拉菜单时和后台要字典的交互方法
function chooseDic(who,code1,code2){
	var toServer={
		who : who,
		code1 : code1,
		code2 : code2
	}
	//此处请求后台程序，下方是成功后的前台处理……
	$.ajax({
		type: 'POST',
		url: "/purchase/getModel",
		dataType: 'json',
		data:toServer,
		async:false,
		success: function(data){
			//返回服务器返回的字典对象
			result = data;
		},
		error:function(data) {
			console.log(data.msg);
		},
	});
}
$(function(){
	
	$("#form-purchase-updateOrder").validate({
		rules:{
			operator:{
				required:true,
			},
			finalPurchase:{
				//required:true,
				number: true,     //输入必须是数字
                min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                minNumber: $("#finalPurchase").val(),    //调用自定义验证
			},
			customerName:{
				required:true,
			},
			purchaseMethod:{
				required:true,
			},
			brand:{
				required:true,
			},
			model:{
				required:true,
			},
			color:{
				required:true,
			},
			guarantee:{
				required:true,
			},
			productId:{
				required:true,
			},
			apperance:{
				//required:true,
			},
//			randomAttachment:{
//				required:true,
//			},
			orderState:{
				required:true,
			},
			orderNum:{
				//required:true,
				digits:true,
			},
			serialNum:{
				//required:true,
			},
			purchasePrice:{
				required:true,
				 number: true,     //输入必须是数字
                 min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                 minNumber: $("#purchasePrice").val(),    //调用自定义验证
			},	
			purchaseTimeString:{
				required:true,
				dateISO:true,
			},
/*			qualityPrice:{
				required:true,
				biggerThanPurchasePrice:true,
				number: true,     //输入必须是数字
                min: 0.01,          //输入的数字最小值为0.01，不能为0或者负数
                minNumber: $("#qualityPrice").val(),    //调用自定义验证
			},*/
		},
		onkeyup:false,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'get',
				url: "/purchase/insertOrder" ,
				success: function(data){
					if(data.code == "000000"){
						//禁止重复提交
						$('#subbtn').attr("type","button");
						layer.msg('添加成功!',{icon:1,time:1000},function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index); 
						});
					}else{
						layer.msg('增加失败!请重试',{icon:2,time:1000});
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:2,time:1000});
				}
			});
		
		}
	});
});
//自定义validate验证输入的数字小数点位数不能大于两位
jQuery.validator.addMethod("minNumber",function(value, element){
    var returnVal = true;
    inputZ=value;
    var ArrMen= inputZ.split(".");    //截取字符串
    if(ArrMen.length==2){
        if(ArrMen[1].length>2){    //判断小数点后面的字符串长度
            returnVal = false;
            return false;
        }
    }
    return returnVal;
},"小数点后最多为两位");         //验证错误信息
$('#reset').on('click',function(){
	$('.input-text').val("");
	$('.text-input').prop('selectedIndex', 0);
});

//自定义validate验证输入的价格之间的关系, 最终价格小于等于收购价格
jQuery.validator.addMethod("smallThanPurchasePrice",function(value, element){
    return value<=$('#purchasePrice').val();
},"最终价格必须小于等于收购价格");         //验证错误信息

//自定义validate验证输入的价格之间的关系, 质检价格大于等于收购价格
jQuery.validator.addMethod("biggerThanPurchasePrice",function(value, element){
    return value>=$('#purchasePrice').val();
},"质检价格必须大于等于收购价格");         //验证错误信息


$('#reset').on('click',function(){
	$('.input-text').val("");
	$('.text-input').prop('selectedIndex', 0);
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>